@(form: Form[AttackForm.AttackData])(implicit request: MessagesRequestHeader)
    @main("armyview") {

        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Review Your Armies</title>
            </head>
            <body>
                <h1>ATTACK!!!</h1>
                <h3>Players</h3>
                <table class="army-list">
                    <thead>
                        <tr><th>Player Name</th> <th>Army Count </th>
                    </thead>
                    <tbody>
                    @for(w <- GameData.players) {
                        @if(GameData.players(GameData.currPlayerIndex).equals(w)) {
                            <tr bgcolor="#228b22"><td>@w.name</td> <td>@w.armyBinCount</td></tr>
                        }@if(!GameData.players(GameData.currPlayerIndex).equals(w)){
                            <tr><td>@w.name</td> <td>@w.armyBinCount</td></tr>
                        }

                    }
                    </tbody>
                </table>
                <br>
                @* Flash shows updates to a page *@
                @request.flash.data.map{ case (name, value) =>
                <div class="message">@name @value</div>
                }

                <h3>Map</h3>
                <div class="name-input">
                    @helper.form(controllers.routes.AttackController.attack) {
                        <h5> Enter The territory you want attacked, the Territory you are attacking with,
                        the number of armies, and the number of armies defending the territory </h5>
                        @helper.CSRF.formField
                        <p>Your Territory</p>
                        @helper.inputText(form("terr"))
                        <p>Other Player's Territory</p>
                        @helper.inputText(form("otherTerr"))
                        <p>Attack Dice</p>
                        @helper.inputText(form("attackDiceCount"))
                        <p>Defense Dice</p>
                        @helper.inputText(form("defenseDiceCount"))

                        <button class="pressButton">ATTACK</button>
                    }
                </div>

                <form id="playGame" action="@controllers.routes.TerritoryController.endTurn">
                    <input class="pressButton" type="submit" value="END ATTACK PHASE" />
                </form>

                <table class="map-table">
                    <tbody>
                            @for(i <- 0 until 6) {
                                <tr class="map-row">
                                    @for(j <- 0 until 8) {
                                        @{
                                            var num = i * 8 + j
                                            var owned = "not-owned"
                                            if (GameData.terrArray(num).ownerName == GameData.getCurrentPlayer.name) {
                                                owned = "indeed-owned"
                                            }
                                                <td class={"cont" + GameData.terrArray(num).cont + " map-unit " + owned}>
                                                <h3>Territory</h3>
                                                <h3>{num}</h3>
                                                <p><b>Owner:</b> {GameData.terrArray(num).getOwner}</p>
                                                <p><b>Armies:</b> {GameData.terrArray(num).armyCount}</p>
                                                </td>
                                        }
                                    }

                                </tr>
                            }

                    </tbody>
                </table>
            </body>
        </html>

}
