@(players: Seq[Player], form: Form[PlayerForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Players") {

    <h1>RYSK</h1>
    <h3>Enter 3 to 6 Unique Player Names</h3>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div class="message">@name: @value</div>
    }

    <table class="playerList">
      <thead>
          <tr><th>Players</th></tr>
      </thead>
      <tbody>
      @for(i <- players.indices) {
        <tr><td>Player @(i + 1)</td>
            <td>@players(i).name</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    <div class="name-input">
    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("name"))
      <button class="pressButton">Add Player</button>

    }</div>
    @if(players.length >= 3) {
        <form id="playGame" action="@routes.PlayerController.armyview()">
            <input class="pressButton" type="submit" value="Play Game" />
        </form>
    }
    <footer>Made by CS2340 Team 17</footer>


}
