@(players: Seq[Player], form: Form[PlayerForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Players") {

    <h1>RISK</h1>
    <h3>Enter 3 to 6 Unique Player Names</h3>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Player Name</th>
      </thead>
      <tbody>
      @for(w <- players) {
        <tr><td>@w.name</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }


    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("name"))

      <button>Add Player</button>

    }
    @if(players.length >= 3) {
        <form id="playGame" action="@routes.PlayerController.armyview()">
            <input type="submit" value="Play Game" />
        </form>
    }


}
